/*--------------------------------------------------------------
  Resume Blog Header Header
--------------------------------------------------------------*/
.blog-heading-section{
  color: #222;
  padding-bottom: 30px;
  width: 80%;
  margin: auto;
}
.blog-heading-section h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15px;
}
.blog-heading-section h2:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 10%;
  background-color: #74DBEF;
  bottom: 0%
}
.blog-area-bg{
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0%;
  left: 0%;
  padding: 0px 0px 0px 0px;
  background-image: url(../https://dummyimage.com/1900x600)
}

.blog-area-bg:before{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  content: "";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.parallax-window {
    min-height: 400px;
    /*background: transparent;*/
}
.blog-area-bg.parallax-window{
    min-height: 0px;
}
.blog-heading-area{
  color: #fff;
  position: relative;
  padding: 140px 0px;
  z-index: 1;
}
.blog-heading-area h1{
  letter-spacing: 32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 130px;
  margin: 0px;
  text-indent: 32px;
  /*margin-right: -50px;*/
}


/*--------------------------------------------------------------
  Resume Blog Section
--------------------------------------------------------------*/

.blog-details {
    min-height: 221px;
}
.single-blog-left, .single-blog-right-two{
  background-color: #f7f7f7;
}
.single-blog-left{
  margin-bottom: 20px;
}
.blog-name h2{
  color: #74dbef;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.blog-name p{
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-right: 80px;
}

.blog-icon-and-details p{
  color: #333333;
}
.blog-icon-and-details span{
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.blog-icon-and-details i{
  margin-right: 10px;
  margin-left: 10px;
}
.blog-icon-and-details i:last-child{
  margin-right: 0px;
}
.blog-icon-and-details i:first-child{
  margin-left: 0px;
}
.blog-left-ico{
  position: absolute;
  display: inline-block;
  top: 50px;
  right: 10px;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  box-shadow:         0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.blog-left-ico i, .icon-bg i{
  color: #74dbef;
  font-size: 24px;
}
.blog-left-ico p, .icon-bg p{
  font-size: 18px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.single-blog-right{
  background-image: url(../https://dummyimage.com/600x300);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 251px;
  background-size: cover;
}
.image-txt {
  background-color: #b0e4ee;
  position: absolute;
  right: 50px;
  top: 50px;
  padding: 5px 15px;
  border-radius: 5px;
}
.image-txt p{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
.second-bloog .image-txt{
  right: 460px;
}
.second-bloog .single-blog-right{
  background-image: url(../https://dummyimage.com/600x300);
}
.blog_simple_overley{
 position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3; 
}
.blog-text-bg:before, .blog-text-bg:after {
    display: table;
    content: "";
    clear: both;
}
.blog-text-bg{
      background-color: #F7F7F7;
      padding-bottom: 30px;
}
.blog-txt-third-post h2 {
    padding: 20px 0px;
}
.blog-txt-third-post {
    float: left;
    width: 80%;
}

.single-blog-ico {
    float: right;
    width: 14%;
}
.icon-bg{
    display: inline-block;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow:         0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.blog-four-post {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    position: relative;
}
.blog-four-post:before, .blog-four-post:after{
  display: table;
  content: "";
  clear: both;
}
.blog-four-post img {
    height: auto;
    width: 100%;
}
.col-md-12.extra-col-class {
    display: flex;
}

.inner-tbl {
    display: table;
    height: 100%;
    width: 100%;
}

.inner-tbl-cell {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    width: 100%;
}

.port-load-more-btn{
  padding-top: 30px;
  padding-bottom: 30px;
}
a.load-more-port {
  color: #333;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}
.port-load-more-btn i{
  display: block;
}
